<body>
    <header2 class="header2">
        <h1>About Us</h1>
    </header2>

    <main class="wrapper">
        <div class="container">
            <main id="about-us-content">
                <!-- About Us sections will be dynamically loaded here -->
            </main>
        </div>
    </main>
</body>