<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Research Request</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/edit-research.css">
</head>
<body>
    <header2 class="header2">
        <h1>Edit Research Request</h1>
    </header2>
    <main class="wrapper">
        <div class="container">
            <form id="editResearchForm">
                <div>
                    <label for="title">Title</label>
                    <input type="text" id="title" name="title" required>
                </div>
                <div>
                    <label for="desc">Description</label>
                    <textarea id="desc" name="desc" required></textarea>
                </div>
                <div>
                    <label for="contact">Contact</label>
                    <input type="text" id="contact" name="contact" required>
                </div>
                <div>
                    <label for="dg_method">Method</label>
                    <input type="text" id="dg_method" name="dg_method" required>
                </div>
                <div>
                    <label for="typeOfParticipation">Type of Participation</label>
                    <input type="text" id="typeOfParticipation" name="typeOfParticipation" required>
                </div>
                <div>
                    <label for="dg_link">Link</label>
                    <input type="text" id="dg_link" name="dg_link" required>
                </div>
                <div>
                    <label for="start_date">Start Date</label>
                    <input type="date" id="start_date" name="start_date" required>
                </div>
                <div>
                    <label for="end_date">End Date</label>
                    <input type="date" id="end_date" name="end_date" required>
                </div>
                <div>
                    <button type="submit">Update Research Request</button>
                </div>
            </form>
        </div>
    </main>
    <script type="module" src="/js/edit-research.js"></script>
</body>
</html>
