<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>

  <h1 align="center"></h1>

<div class="container">
    <div class="page-layout">
        <h1>Login</h1>
        <form id="loginForm" method="POST" action="/login">
            <input type="email" name="email" placeholder="Email">
            <input type="password" name="password" placeholder="Password">
        <button type="submit">Login</button>
        <button id="googleSignIn">Sign in with Google</button>
        </form>
        <p>Don't have an account? <a href="/register">Register here</a></p>
    </div>
</div>
</body>
</html>
