<body>
    <header2 class="header2">
        <h1>Research Request</h1>
    </header2>

    <main class="wrapper"> 
        <div class="container">
            <form id="resReqForm">
                <h3 style="color: #45454b;">Request for Participants</h3>
                <div>
                    <label for="title">Title:</label>
                    <input type="text" id="title" name="title" placeholder="Enter Research Title" required>

                    <label for="desc">Description:</label>
                    <textarea id="desc" name="desc" placeholder="Write a description" required></textarea>

                    <div class="form-columns">
                        <div class="column">
                            <label for="contact">Contact Details (Email):</label>
                            <input type="email" id="contact" name="contact" placeholder="someone@gmail.com" required>

                            <label for="dg_method">Data Gathering Method:</label>
                            <select id="dg_method" name="dg_method" required>
                                <option value="Qualitative">Qualitative</option>
                                <option value="Quantitative">Quantitative</option>
                            </select>

                            <label for="typeOfParticipation">Type of Participation:</label>
                            <input type="text" id="typeOfParticipation" name="typeOfParticipation" placeholder="Survey, Interview, etc." required>
                        </div>

                        <div class="column">
                            <label for="dg_link">Forms Link:</label>
                            <input type="url" id="dg_link" name="dg_link" placeholder="(For Surveys) Enter Link">

                            <label for="start_date">Start Date:</label>
                            <input type="date" id="start_date" name="start_date" required>

                            <label for="end_date">End Date:</label>
                            <input type="date" id="end_date" name="end_date" required>
                        </div>
                    </div>

                    <div class="button-container">
                        <button type="submit" id="submitReqButton">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </main>
</body>
