#about-us-container {
    text-align: center;
  }
  
  .centered-title {
    font-size: var(--heading);
    margin-bottom: 20px;
  }
  
  .team-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px; 
    row-gap: 20px;
    justify-items: center;
  }
  
  .team-member {
    text-align: center;
  }
  
  .image-placeholder {
    width: 300px;
    height: 400px;
    background-color: #555;
    border-radius: 20px;
    background-color: #555;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
  }
  
  .team-member .name {
    margin-top: 10px;
    font-size: var(--body);
    font-weight: bold;
  }
  
  .team-member .description {
    font-size: var(--small);
    color: #ccc;
  }
  
  
  @media (max-width: 1300px) {
    .team-grid {
      grid-template-columns: 2fr;
      column-gap: 10px; 
      row-gap: 20px;
    }
  }

  