header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 0.625rem 1.25rem;
    box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.1);
  }
  
  header img {
    height: 2.5rem;
  }
  
  nav {
    display: flex;
    gap: 1.25rem;
  }
  
  nav a {
    text-decoration: none;
    color: #333;
    font-weight: 32rem;
  }
  
  .login-button {
    background-color: var(--confirm);
    color: rgb(37, 217, 25);
    border: none;
    padding: 0.625rem 1.25rem;
    border-radius: 0.3125rem;
    cursor: pointer;
  }
  